/** 
 * My own style, based on HTML5Boilerplate standard style.
 */


/**
 * Structure
 */
html {
  
}

body {
  
}

#above {
  font-size: 11px;
}

#above #nav-kmom {
  
}

#header {
  background-color: #697;
}
#header .site-title {
  font-size: 32px;
  color: black;
}

#main {
  
}

#footer {
  
}
