/** 
* Description: Core theme for Cloudchaser
*/

/**
* Structure
*/
html{
	margin: 0px;
	padding: 0px;
}
body{
   background-color:#ded8f6;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
   padding: 20px;
}

a {
	color: #73b6e2;
}
a:hover {
	color: #88bfe2;
}
hr {
	border-color: #8273bd;
	border-style: solid;
}

#header,
#main,
#footer {
   margin:0 auto;
   width:970px;
   background-color:#fff;
   padding: 1em;
}
#header h1 {
	font-size: 36px;
	margin-bottom: 0px;
}
#header-img {
	position: relative;
	right: -50px;
	top: -30px;
	float: right;
}

#mainmenu {
	padding-bottom: 8px;
	border-bottom: 2px solid #8273bd;
}
#mainmenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#mainmenu li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
#mainmenu li a {
	display: block;
	padding: 0.2em;

	font-size: 1.1em;
	color: #249ce5;
	text-decoration: none;
}
#mainmenu li a:hover {
	text-decoration: underline;
}